# Database
DATABASE_URL=postgresql://neondb_owner:npg_i2Xl5ohzpray@ep-young-darkness-aphdwngr-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

PORT=4000
FRONTEND_URL=

ADMIN_EMAIL=admin@datahubgh.com
ADMIN_PASSWORD=Admin@123

PAYSTACK_PUBLIC_KEY=pk_test_3832bfc1d4a3c703ed450d728e39da6a22d97a89
PAYSTACK_SECRET_KEY=sk_test_b1ee2bfad68ba2076f6fa95b55615c5c201d5b3e